<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <div class="card shadow mb-4 border-bottom-primary">
            <div class="card-header text-center mt-3">
                <h3 class="font-weight-bold text-dark">Categorias</h3>
            </div>
            <div class="card-body row">
                <div class="col-md-6 col-sm-12">
                    <div class="card shadow mb-4 text-center">
                        <div class="card-body">
                            <table id="dataTable" class="table table-bordered table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>ID</th>
                                      <th>Categoria</th>
                                      <th>Opciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr th:each="categoria : ${categorias}">
                                      <td th:text="${categoria.id_categoria}"></td>
                                      <td th:text="${categoria.categoria}" th:id="'categoria' + ${categoria.id_categoria}"></td>
                                      <td>
                                          <button class="btn btn-primary btn-sm" th:attr="onclick=|editCat('${categoria.id_categoria}')|">
                                              <i class="fas fa-edit"></i>
                                          </button>
                                          <a href="#" class="btn btn-danger btn-sm">
                                              <i class="fas fa-trash"></i>
                                          </a>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card shadow mb-4 text-center">
                        <div class="card-body">
                            <div class="card-header text-center">
                                <h5 class="font-weight-bold text-dark" id="categoriaFormTitle">Crear Categoria</h5>
                            </div>
                            <form th:action="@{/categorias/save}" class="text-left" th:object="${categoria}" method="post">
                                <div class="mt-3">
                                    <label for="id_categoria" class="form-label">ID de la Categoria</label>
                                    <input type="text" class="form-control" name="id_categoria" id="id_categoria" th:field="*{id_categoria}" aria-describedby="helpId" readonly>
                                    <small id="helpdId" class="form-text text-muted">ID de la Categoria. Autogenerado para categorias nuevas.</small>
                                </div>
                                <div class="mt-3">
                                    <label for="id_categoria" class="form-label">Nombre de la Categoria</label>
                                    <input type="text" class="form-control" name="categoria" id="categoria" th:field="*{categoria}" aria-describedby="helpCategoria">
                                    <small id="helpdCategoria" class="form-text text-muted">Nombre de la Categoria</small>
                                </div>
                                <div class="text-center mt-3">
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></style>
        <style src="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css"></style>
        <style src="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css"></style>
        <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
        <script>
            var principalTitle;
            
            $(document).ready(() => {
                principalTitle = $('#categoriaFormTitle');

                $('#dataTable').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                    }
                })

            })

            function editCat(id) {
                principalTitle.text("Editar Categoria");
                $('#id_categoria').val(id);
                $('#categoria').val($('#categoria' + id).text());
            }

        </script>
    </div>
</body>
</html>
