<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <div class="card shadow mb-4 text-center">
            <div class="card-header">
                <h3>Añadir producto</h3>
            </div>
            <div class="card-body">
                <form class="producto" th:action="@{/productos/new}" th:object="${producto}" method="post">
                    <div class="form-group col-md-5 mx-auto">
                        <label for="nombre" class="font-weight-bold">Nombre</label>
                        <input aria-describedby="nombreHelp" th:field="*{producto}" name="nombre" id="nombre" class="form-control" type="text" />
                        <small id="nombreHelp" class="form-text text-muted">Nombre del producto.</small>
                    </div>
                    <div class="form-group col-md-5 mx-auto">
                        <label for="descripcion" class="font-weight-bold">Descripción</label>
                        <input aria-describedby="descripcionHelp" th:field="*{descripcion}" name="descripcion" id="descripcion" class="form-control" type="text" />
                        <small id="descripcionHelp" class="form-text text-muted">Descripción del producto.</small>
                    </div>
                    <div class="form-group col-md-5 mx-auto">
                        <label for="imagen" class="font-weight-bold">Imagen</label>
                        <input aria-describedby="imagenHelp" th:field="*{imagen}" name="imagen" id="imagen" class="form-control" type="file" accept="image/png, image/jpg, image/jpeg"/>
                        <small id="imagenHelp" class="form-text text-muted">Imagen del producto.</small>
                    </div>
                    <div class="form-group col-md-5 mx-auto">
                        <button type="submit" class="btn btn-primary btn-user btn-block">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
