<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <!-- Header productos -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Productos</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
            
        </div>
        <div class="card shadow mb-4 text-center">
            <div class="card-body">
                <table id="example" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Disponibilidad</th>
                            <th>Imagen</th>
                            <th>Categoria ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto : ${productos}">
                            <td th:text="${producto.producto_id}"></td>
                            <td th:text="${producto.producto}"></td>
                            <td th:text="${producto.descripcion}"></td>
                            <td th:text="${producto.precio}"></td>
                            <td th:text="${producto.existencia}"></td>
                            <td th:text="${producto.imagen}"></td>
                            <td th:text="${producto.categoria_id}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <style src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></style>
        <style src="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css"></style>
        <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
        <script th:src="@{/js/datatable.js}"></script>
        </div>
    </div>
</body>
</html>
