<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <style>body{background:#eee}.ratings i{font-size: 16px;color: red}.strike-text{color: red;text-decoration: line-through}.product-image{width: 50%}.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}.spec-1{color: #938787;font-size: 15px}h5{font-weight: 400}.para{font-size: 16px}</style>
        <!-- Header productos -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Productos</h1>
            
            <div>
                <a th:href="@{/productos/new}" type="button" class="btn btn-primary btn-user">Nuevo Producto</a>
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#CarritoModal">Ver Carrito</button>
            </div>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
            
        </div>

        <div class="modal fade" id="CarritoModal" tabindex="-1" role="dialog" aria-labelledby="CarritoModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Carrito</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="carritoBody">

                </div>


                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-warning">Editar Carrito</button>
                  <button type="button" class="btn btn-primary">Ingresar Pedido</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card shadow mb-4 text-center">
              <div class="card-body">
                  <table id="productos" class="table table-bordered table-striped table-hover responsive nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Disponibilidad</th>
                            <th>Imagen</th>
                            <th>Categoria ID</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto : ${productos}">
                            <td th:text="${producto.producto_id}"></td>
                            <td th:text="${producto.producto}" th:id="'productoName' + ${producto.producto_id}"></td>
                            <td th:text="${producto.descripcion}" th:id="'productoDesc' + ${producto.producto_id}"></td>
                            <td th:text="${producto.precio}" th:id="'productoPrecio' + ${producto.producto_id}"></td>
                            <td th:text="${producto.existencia}"></td>
                            <td th:text="${producto.imagen}"></td>
                            <td th:text="${producto.categoria_id}"></td>
                            <td>
                                <button class="btn btn-info btn-sm" th:attr="onclick=|addProduct('${producto.producto_id}')|">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button th:href="@{/productos/edit/{id}(id=${producto.producto_id})}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#DetalleProducto">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <a th:href="@{/productos/delete/{id}(id=${producto.producto_id})}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                                <button class="btn btn-success btn-sm" th:attr="onclick=|addProduct('${producto.producto_id}')|">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Detalle pedidos modal -->
                <div class="modal fade" id="DetalleProducto" tabindex="-1" role="dialog" aria-labelledby="DetalleProductoTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Detalles del producto</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" id="DetalleProductoBody">
                            
                            <div class="container">
                                <form>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputEmail4">Nombre del producto</label>
                                        <input type="text" class="form-control" id="nombreProducto" placeholder="Nombre del producto">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="sel1">Categoria</label>
                                        <select class="form-control" id="sel1">
                                            <option>Telefono</option>
                                            <option>Case</option>
                                            <option>Electronica General</option>
                                            <option>Chucheria</option>
                                        </select>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion">Descripción</label>
                                        <textarea class="form-control" rows="5" id="descripcion"></textarea>
                                      </div>
                                      <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label for="inputEmail4">Precio</label>
                                          <input type="number" class="form-control" id="nombreProducto" placeholder="Precio del producto">
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="inputEmail4">Existencia</label>
                                          <input type="number" class="form-control" id="nombreProducto" placeholder="Cantidad en inventario">
                                        </div>
                                      </div>
                                    <button type="submit" class="btn btn-primary">Cargar Producto</button>
                                  </form>

                            </div>

                        </div>
        
        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-warning">Editar Producto</button>
                          <button type="button" class="btn btn-primary">Cargar a carrito</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <style src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></style>
        <style src="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css"></style>
        <style src="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css"></style>
        <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
        <script th:src="@{/js/datatable.js}"></script>
        <script th:src="@{/js/carrito.js}"></script>
    </div>
</body>
</html>
