<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <!-- Header productos -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Productos</h1>
            <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
            
        </div>
        <div class="card shadow mb-4 text-center">
            <div class="card-body">
                <table id="productos" class="table table-bordered table-striped table-hover responsive nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Disponibilidad</th>
                            <th>Imagen</th>
                            <th>Categoria ID</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto : ${productos}">
                            <td th:text="${producto.producto_id}"></td>
                            <td th:text="${producto.producto}"></td>
                            <td th:text="${producto.descripcion}"></td>
                            <td th:text="${producto.precio}"></td>
                            <td th:text="${producto.existencia}"></td>
                            <td th:text="${producto.imagen}"></td>
                            <td th:text="${producto.categoria_id}"></td>
                            <td>
                                <div class="dropdown no-arrow">
                                    <button class="btn btn-primary dropdown btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-caret-square-down" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" th:href="@{/productos/editar/{id}(id=${producto.producto_id})}">Editar</a>
                                        <a class="dropdown-item" th:href="@{/productos/eliminar/{id}(id=${producto.producto_id})}">Eliminar</a>
                                    </div>
                                </div>
                                <a th:href="@{/productos/edit/{id}(id=${producto.producto_id})}" class="btn btn-primary btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:href="@{/productos/delete/{id}(id=${producto.producto_id})}" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <style src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></style>
        <style src="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css"></style>
        <style src="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap4.min.css"></style>
        <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.0/js/responsive.bootstrap4.min.js"></script>
        <script th:src="@{/js/datatable.js}"></script>
        </div>
    </div>
</body>
</html>
