<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <div class="card shadow mb-4 text-center">
            <div class="card-header">
                <h3>Carta</h3>
            </div>
            <div class="card-body">
                <h2>Cardbody</h2>
            </div>
        </div>
    </div>
</body>
</html>
