<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmento/base::base}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container-fluid" layout:fragment="contenido">
        <div class="card shadow mb-4 text-center">
            <div class="card-header row">
                <div class="col-10">
                    <h3>Productos</h3>
                </div>
                <div class="col-2">
                    <a th:href="@{/vendedores/new}" type="button" class="btn btn-primary btn-user">Nuevo</a>
                </div>
            </div>
            <div class="card-body">
                <table id="example" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Correo Electrónico</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="vendedor : ${vendedores}">
                            <td th:text="${vendedor.id}"></td>
                            <td th:text="${vendedor.name}"></td>
                            <td th:text="${vendedor.email}"></td>
                            <td th:text="${vendedor.rol}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <style src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"></style>
        <style src="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap4.min.css"></style>
        <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap4.min.js"></script>
        <script th:src="@{/js/datatable.js}"></script>
    </div>
</body>
</html>
